# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/flutter_settings.json
android/local.properties
android/key.properties
android/app/src/main/res/drawable-*/launcher_icon.png
*.iml
*.log
*.lock
.project
.settings/
.idea/
.vscode/
.env
.history
.DS_Store
